body {
    background-color: #222;
    font-family: sans-serif;
}

header {
    color: #999;
    margin: auto;
    padding: 0px;
    text-align: center;
}

main {
    text-align: center;
    h1 {
        margin: 20px;
        padding: 0px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: bolder;
        color: #999;
    }
    
    
    h2 {
        color: #999;
        font-size: 27px;
        font-weight: bolder;
        letter-spacing: 2px;
        text-align: center;
    }
    
    a {
        font-size: 20px;
        color: #999;
        text-align: center;
    }
}
